#main_me {
  padding-top: 160px;

  .main_describtion {
    h1 {
      font-size: 40px;
      color: dimgrey;
      font-family: "Courier New";
    }

    p {
      font-size: 30px ;
      color: dimgrey;
      font-family: "Courier New";
    }
    @media screen and (max-width: 576px) {
      h1{
        padding-top: 20px;
        font-size:25px;
      }
      p{
        font-size:15px;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  #main_me{
    padding-top:120px;
  }
}