.btn {
    @include box(100px, 30px);
    padding: 0;
    border: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease;

    @include  min($tablet-portrait-and-up) {
        @include box(140px, 35px);
    }

    @include  min($desktop-s-and-up) {
        @include box(180px, 45px);
    }

    &--grey {
        color: $white;
        background-color: #91969c;

        &:hover {
            background-color: rgba(#91969c, 0.8);
        }
    }
}
