.section#contacts
    .container
        .row.justify-content-end
            .col-lg-8
                h2 Contacts
        .row
            .col-sm-12
                p If you are interested in my profile ,you can contact me using :
                ul
                    li
                      a(href="https://www.facebook.com/maksim.bratukhin.3" target="blank") Facebook
                    li
                      a(href="https://www.linkedin.com/in/maksim-bratukhin-3bb104177/" target="blank") LinkedIn
                    li
                      a(href='mailto:bratukhinmaks@gmail.com', target='_top') Gmail
                    li
                      a(href='tel:48-795-852-152') Phone
                    li
                        a(href="https://github.com/bratukhinmaks?tab=overview&from=2019-04-01&to=2019-04-30" target="blank") GitHUB