header.header
    .container
        .row.justify-content-between.align-items-center
            .col-lg-12
                        include ../components/main-nav
            .col-auto.d-flex
                include ../components/hamburger