.section#main_me
    .container
        .row
            .col-lg-4.col-md-6.col-sm-12
                img(src="images/common/20190620_144304.jpg" alt="main image")
            .col-lg-8.col-md-6.col-sm-12
                .main_describtion
                    h1 About me
                    p I'm 19-years-old student of Warsaw University of Technology.Faculty of Automatics and Robotics .Personally I'm from Belarus but last 2 years i live and study in Poland.Right now I finished my first year in University.I'm very enthusiastic ,optimistic and very open-minded.