section.section#experience
    .container
        .row.justify-content-end
            .col-lg-8
                h2 Experience and Hobbies
        .row
            .col-12
                .js-tab.tab
                    .col-md-3.col-sm-12.p-0
                        ul.tab__list
                            li.tab__item: a(href="#tabs-1").js-tab__link.tab__link.isActive Experience
                            li.tab__item: a(href="#tabs-2").js-tab__link.tab__link Stack of technologies
                            li.tab__item: a(href="#tabs-3").js-tab__link.tab__link Hobbies
                            li.tab__item: a(href="#tabs-4").js-tab__link.tab__link Languages and certificates
                    .col-md-8.col-sm-12
                        .tab__container
                            div(id="tabs-1").js-tab__content.tab__content.isActive
                                h3 Experience
                                p I have two years experience in fron end developer work,one year i worked on freelance ,and last year i worked in firm Darwinapps as a Junior Front End Developer.I have worked in many projects.I am very good at layout adjust and work with JS.
                            div(id="tabs-2").js-tab__content.tab__content
                                h3 Stack of technologies
                                ul
                                    li JavaScript
                                    li Bootstrap 4/FOUNDATION 5
                                    li CSS/SASS/LESS/STYLUS
                                    li HTML/PUG
                                    li GULP/YARN/WEBPACK
                                    li little knowledge in WORDPRESS and DRUPAL
                            div(id="tabs-3").js-tab__content.tab__content
                                h3 Hobbies
                                p As for me in my free time i like to spend time reading or learning new interesting things.Also I'm crazy about jogging and playing basketball,some times i like to watch old classic films.
                            div(id="tabs-4").js-tab__content.tab__content
                                h3 Languages and certificates
                                ul I know 3 languages :
                                    li Polish (C1)
                                    li Russion (native speaker)
                                    li English (B2)