nav.main-nav
    ul.main-nav__list
        li.main-nav__item
            a(href="#main_me").main-nav__link About
        li.main-nav__item
            a(href="#experience").main-nav__link Experience and Hobbies
        li.main-nav__item
            a(href="#contacts").main-nav__link Contacts