extends includes/layout

include mixins/lazy-image-single
include mixins/lazy-image-single-webp
include mixins/flip-box
include mixins/rating
include mixins/card

block content
    include sections/main_me
    include sections/tab
    include sections/contacts
